* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #78e08f;
  font-family: "Mate SC", serif;
  font-size: 62.5%;
}
.container {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
  }
  h3 {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .input {
    margin-top: 4rem;
  }
  .new-input {
    margin-top: 1rem;
    input {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }
  .table-show {
    margin-top: 6rem;
    font-size: 1.3rem;
  }
  .table {
    font-size: 1.3rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #messages {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .btn-pro {
    font-size: 1.4rem;
  }
  .btns {
    display: grid;
    .amount {
      h3 {
        font-size: 2rem;
        background-color: #ff4757;
        padding: 1rem 1rem;
        color: white;
        font-weight: bolder;
      }
    }
  }
}

.bttns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
  padding: 1rem 1rem;
  background: rgb(57, 241, 211);
}
